---
const { 
	description = "yeah its the knownsh site",
	title = "known.sh - derg.space",
	lang = "en",
} = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>known.sh</title>
		<meta content={title} property="og:title" />
		<meta content={description} property="og:description" />
		<meta content="https://known.sh/" property="og:url" />
		<meta name="theme-color" content="#6E6173">
		<slot name="header-data" />
	</head>
	<body class="bg-black text-white">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
